@charset "UTF-8";


/* -pc- 992*/
@media screen and (min-width: 992px){
    body{
        background-image: url(imagens/defalt-bg.svg);
        background-color: var(--contrast-color);
    }

    .container{
        height: 100vh;
        gap: px;
        justify-content: ;
        display: flex;
    }

    .carlos{
        margin-top: 90px;
        margin-left: 40vw;
        width: 400px;
        display: block;
        animation: carlos-ani 1.5s ease-in-out;
    }

    .intro{
        margin-top: 20%;
        left: 25px;
        font-family:'coolvetica';
        font-size: 22px;
        letter-spacing: .7px;
        color:rgb(138, 138, 138);
        width: 450px;
    }

    .blob1{
        position: absolute;
        display: block;
        top: 5%;
        left: 52%;
        width: 100px;
        animation: carlos-ani 3.5s ease-in-out;
    }

    .blob2{
        margin-left: 52%;
        margin-top: -5%;
        width: 150px;
        display: block;
        animation: carlos-ani 6.5s ease-in-out;
    }

    .blob3{
        margin-left: 95%;
        margin-top: -35%;
        display: block;
        width: 150px;
        animation: carlos-ani 7s ease-in-out;
    }

    .intro > h1 {
        font-size: 2rem;
    }

    .intro > p{
        font-size: 1rem;
    }

    button{
        margin-left: -2px;
    }
    :root {
        --secondary-color: rgb(138, 138, 138);
        --contrast-color: rgba(44, 44, 44, 0.576);;
    }



}

@keyframes carlos-ani {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}
