@charset "UTF-8";


/* -pc- 992*/
@media screen and (min-width: 992px){
    body{
        background-image: url(imagens/dafault-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main{
        justify-content: space-around;
        display: flex;
    }

    .apresentacao{
        margin-top: 20%;
        font-family: 'coolvetica' ;
        color: #Ffff;
    }

    .carlos{
        margin-top: 5%;
        width: 500px;
        border-radius: 25px;
        display: block;
    }

    .blob1{
        display: block;
        position: absolute;
        width: 100px;
        top: 10%;
        left: 49%;
    }
    
    .blob2{
        display: block;
        position: absolute;
        left: 85%;
        width: 75px;
    }
    
    .blob3{
        display: block;
        position: absolute;
        top: 65%;
        left: 50%;
        width: 75px;
    }

    .blob4{
        display: block;
        position: absolute;
        top: 20%;
        left: 75%;
        width: 75px;
    }
}

@keyframes carlos-ani {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}
