@charset "UTF-8";

/*
tamahos comuns de telas

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

*/

/* desktops configs */
@media (min-width: 721px){
    body{
        background-image: url(../imagens/20230428_105130.png);
    }

    #logo{
        align-items: center;
        margin-left: 45%;
    }

    .apresen{
        font-size: 1.7em;
        position: absolute;
        top: 350px;
        left: 50px;
        color: #d1d1d1;
        display: block;
    }

    .apr{
        color: #d1d1d1;

    }
    

   

    
}