@charset "UTF-8";

/*
tamahos comuns de telas

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

*/

/* desktops configs */
@media (min-width: 721px){
    body{
        background-image: url(../imagens/20230428_105130.png);
    }


    .apresen{
        font-size: 1.7em;
        position: absolute;
        top: 350px;
        left: 50px;
        color: #fff;
        display: block;
    }

    .apr{
        color: #fff;

    }

    .carl{
        position: absolute;
        left: 5%;
        top: 640px;
        width: 980px;
    }

    .redes{
        justify-content: none;
    }
    
    #nav.active #menu{
        height: 45vh;
        visibility: visible;
        overflow-y: auto;
    }
    
}

@media (min-width: 1024px) {
    .carl{
        position: absolute;
        left: 2%;
        top: 640px;
        width: 980px;
    }

    .apresen{
        font-size: 1.7em;
        position: absolute;
        top: 250px;
        left: 50px;
        color: #fff;
        display: block;
    }



}
    


@media (min-width: 1280px) {
    .carl{
        position: absolute;
        left: 0%;
        top: 700px;
        width: 100vw;
    }

    .apresen{
        font-size: 1.7em;
        position: absolute;
        top: 255px;
        left: 50px;
        color: #fff;
        display: block;
    }

    #nav.active #menu{
        height: 30vh;
        display: block;
    }

    .hamburger{
        display: block;

    }

    /* .memoji{
        position: absolute;
        display: block;

        left: 670px;
        top: -142px;
    } */

    .scroll{
        height: 75px;
        width: 70px;
        position: absolute;
        top: 540px;
        left: 50%;
    }
}    

