@charset "UTF-8";

/*
tamahos comuns de telas

Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

*/

/* desktops configs */
@media (min-width: 721px){
    body{
        background-image: url(../imagens/20230427_150013\ \(1\).jpg);
    }

    #logo{
        align-items: center;
        margin-left: 50%;
    }

    .apresen{
        font-size: 1.4em;
        position: absolute;
        top: 300px;
        left: 30px;
        color: white;
        display: block;
    }

    .memoji{
        position: absolute;
        display: none;
        left: 200px;
    }

    

   

    
}