@charset "UTF-8";

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*
cores
#170126 - roxo
#201D73 - azul
#120125 - azul escuro
#590202- laranja
#590202 - vermelho
*/



*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    background-image: url(../imagens/minimalist-wallpaper-20102315104624.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

h1{
    position: absolute;
    top: 230px;
    left: 35px;
    color: white;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.705);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

p{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
    top: 428px;
    left: 8px;
    padding: 10px;
    height: 28vh;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.705);
}

strong{
    position: absolute;
    left: 229px;
    top: 15px;
    color: yellow; 
    font-family: 'Press Start 2P', cursive;;
    font-size: 0.8em;
}

span{
    color: yellow;
}

main{
    display: block;
    background-color: rgb(255, 255, 255);
}

.memoji{
    position: absolute;
    height: 250px;
    left: 350px;
    top: 140px;

}

.intro{
    background-color: transparent;
    top: 270px;
    left: 29px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}