@charset "UTF-8";

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

/*
cores
#181818
*/

/*
popins: font-family: 'Poppins', sans-serif;


*/

   *{
        font-family: 'Poppins';
    }

    body{
        background-color: #181818;
        background-image: url(../imagens/20230428_105026.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0px;
        padding: 0px;

    }

    /* header */
    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: aquamarine;
    }

    #logo{
        font-size: 1.5rem;
        font-weight: bold;
    }

    #header{
        box-sizing: border-box;
        height: 65px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
    }

    #menu{
        display: flex;
        list-style: none;
        gap: .5rem;
    }

    #menu a {
        display: block;
        padding: .5rem;
    }

    #btn-mobile{
        display: none;
    }

    
    #btn-mobile{
        display:flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: white;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburger{
        color: white;
        width: 20px;
        border-top: 2px solid;
    }

    .hamburger::after, .hamburger::before{
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        margin-top: 7px;
        background: currentColor;
        transition: .4s;
        position: relative;
    }

    #nav.active .hamburger{
        transition: .2s;
        border-top-color: transparent;

    }

    #nav.active .hamburger::before{
        transition: .5s;
        transform: rotate(135deg);

    }

    #nav.active .hamburger::after{
        transition: .5s;
        transform: rotate(-135deg);
        top: -9px;
        
    }

    #menu{
       display:block;
       position: absolute;
       width: 100%;
       top: 40px;
       right: 0px;
       padding-bottom: 10px;
       height: 0px;
       background-color: #000000b4;
       
       visibility: hidden;
       overflow-y: hidden;
       transition: .6s;
    }

    #nav.active #menu{
        height: 20vh;
        visibility: visible;
        overflow-y: auto;
    }

    a:hover{
        color: rgb(69, 143, 118);
        transition: .5s;
    }

    #menu a{
        padding: 1rem 0;
        margin:  0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.301);
    }

    /* fim header */
    
    /* ola */
    .apresen{
        font-size: 1.2em;
        position: absolute;
        top: 300px;
        left: 15px;
        color: #d1d1d1;
        display: block;
    }

    .memoji{
        display: none;
    }

    .cor{
        color: #fff;
        opacity: 100;
        transition: 3s;
    }

    /* ola */

    /* main */

    h1{
        margin-bottom: 0px;
    }

    .apr{
        margin-top: -15px;
    }

    .carl{
        position: absolute;
        color: white;
        background-color: #000000;
        margin: auto;
        top: 780px;
        padding-top: 2px;
        padding-right: 10px;
        padding-left: 10px;

    }

    /* pag contatos */

    hr{
        color: white;
        width: 145px;
        height: .5px;
    }

    .sub-con{
        position: relative;
    }
    .contatos{
        position: absolute;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: 25vh;
        width: 70vw;
        top: 320px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        background-color: #0000008c;
        margin: 5px;
    }

    .redes{
        display: flex;
        color: #fff;
        align-items: center;
        
        justify-content: space-evenly;

    
    }

    .ent{
        margin-top: -4px;
        font-size: 20px;
    }