@charset "UTF-8";

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

/*
cores
#181818
*/

/*
popins: font-family: 'Poppins', sans-serif;


*/

*{
    font-family: 'Poppins';
    
}

body{
    background-color: #181818;
    margin: 0px;
    padding: 0px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    box-sizing: border-box;
    height: 65px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}


.apresen{
    font-size: 1.4em;
    position: absolute;
    top: 250px;
    left: 15px;
    color: white;
    display: block;
}

.cor{
    color: aquamarine;
}