@charset "UTF-8";

@font-face {
    font-family: 'Benzo';
    src: url(../fonts/Benzo.woff);
}

:root {
    --secondary-color: rgb(138, 138, 138);
    --contrast-color: rgb(47, 47, 47);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    scroll-behavior: smooth;
    background-image: url(../imagens/9.16-B.svg);
    background-attachment: fixed;
}

header{
    text-align: center;
    color: #Ffff;
    position: sticky;
    padding: 15px;
    background-color: #000000;
}


hr{
    margin: 20px 0;
    padding: 10px;
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    color: #000000;
}

strong{
    text-transform: uppercase;
    color: #006EFF;
    
}
.strong2{
    color: #Fff;
}

.blob5, .blob6, .blob7{
    display: none;
}

li{
    list-style-type: none;
    font-weight: 700;
    font-size: 13px;
}

.memoji{
    width: 50px;
}

.carlos2{
    display: none;
}

.memoji:hover{
    transform: scale(1.10);
}

.apresentacao{
    background-color: #000000;
    margin-left: 0 auto;
    font-size: 15px;
    padding: 20px;
    color: #Ffff;
}

.btn{
    display: none;
}

.in-apresentacao > h1 {
    text-align: center;
    animation: vamos-comecar-ani 3s ease-in-out;
}

.apresentacao > p{
    margin-bottom: 10px;
    font-size: 12px;
    animation: vamos-comecar-ani 3s ease-in;
}

.projetos{
    background-color: #006EFF;
    text-align: center;
    padding: 50px;
    color: #Ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.projetos > h1 {
    animation: vamos-comecar-ani 3s ease-in-out;
    text-align: center;
    margin-bottom: 10px;
}

.titulo{
    color: #FFF;
    margin-top: 15px;
    font-size: 1rem;
}

.mario-game, .huddle, .relogio, .pokemon, .calculadora {
    margin-top: 5px;
    animation: mario-game-ani 2.5s ease-in;
    width: 250px;
}


.skills{
    padding: 50px;
    background-color: #004197;
}

.skills-box{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.48);
    border-radius: 12px;
    width: 85vw;
    margin: 0 auto 0px -20px;
    background-color: #ffffff;
}

.header2{
    text-align: center;
    border-radius: 12px 12px 0px 0px ;
}

header > p {
    color: #Ffff;
}



.skills-box > ul > li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 7px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
}


li > hr {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.511);
    padding: 0;
    height: 3px;
    width: 20px;
    margin-top: -10px;
    margin-left: 75px;
    background-color: #006EFF;
}

.html{
    width: 200px;
    animation: html-ani 1.5s ;
}

.css{
    width: 150px;
    animation: css-ani 1.5s ;
}

.js{
    width: 130px;
    animation: js-ani 1.5s ;
}

.boot{
    width: 100px;
    animation: boot-ani 1.5s ;
}

.contato{
    padding: 50px;
    background-color: #006EFF;
    text-align: center;
}

.contato > h1, p {
    color: #fff;
    margin-bottom: 5px;

}

button {
    margin: 10px auto 0px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background:  #004197;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background:#828080;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #fefefe;
    text-shadow: 1.5px 1.5px 10px black;
    animation: scaleUp 0.3s ease-in-out;
}

footer{
    text-align: center;
    margin-top: 0px;
    background-color: #000000;
    color: #Ffff;
    padding: 20px;
}

footer > a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7px;
    filter: blur(1px);
    
}

.contato > p {
    padding: 2px;
    border-bottom: 1px solid rgb(252, 252, 252);
    margin-bottom: 30px;
}

.contato > h1{
    margin-bottom: 20px;
}

footer > a:hover{
    filter: blur(0px);
    transition: .5s ease-in-out;
    transform: scale(1.35);
}



@keyframes scaleUp {
0% {
    transform: scale(1);
}

50% {
    transform: scale(0.95);
}

100% {
    transform: scale(1);
}
}


@keyframes html-ani {
    0%{
        width: 0px;
    }

    100%{
        width: 200px;
    }
}

@keyframes css-ani {
    0%{
        width: 0px;
    }

    100%{
        width: 150px;
    }
}

@keyframes js-ani {
    0%{
        width: 0px;
    }

    100%{
        width: 130px;
    }
}

@keyframes boot-ani {
    0%{
        width: 0px;
    }

    100%{
        width: 100px;
    }
}

@keyframes vamos-comecar-ani {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

@keyframes mario-game-ani {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}



