@charset "UTF-8";


@font-face {
    font-family: 'BOLDFONT';
    src: url(../fonts/THEBOLDFONT.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../imgs/ffflurry.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

strong{
    color: #dfbe07;
    font-size: 3.5rem;
    letter-spacing: .5px;
    font-family: 'BOLDFONT';
}

span{
    font-size: 2.5rem;
    margin-bottom: -100px;
    font-family: 'BOLDFONT';
}

i{
    margin-left: -5px;
}

i:hover{
    transition: 200ms ease-in-out;
    transform: translateY(-5px);
    cursor: pointer;
}

abbr, a{
    text-decoration: none;
}

.color{

}

.start{
    height: 90vh;
    color: rgb(42, 42, 42);
    margin-left: 5px;
    margin-top: 65%;

}

.start > h1{
    line-height: 45px;
    font-size: 2.9rem;
    letter-spacing: .5px;
    font-family: 'BOLDFONT';
    margin-bottom: 5px;
}

.carlos{
    display: none;
}

.p1{
    width: 250px;
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.p2{
    width: 200px;
    background-color: #fff;
    font-weight: bold;
}

.wave1{
    margin-top: -220px;
    width: 100vw;
    display: block;
}

.projetos{
    margin-top: -70px;
    padding: 20px;
    color: #FFff;
    background-color: black;
}

.skils{
    padding: 20px;
    background-color: #Fff;
}

.contact{
    padding: 20px;
    background-color: #000;
}

button {
    margin: 0 auto;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color:#dfbe07;
    color: hsl(0, 0%, 100%);
    box-shadow:1px 1px 10px #dfbe07;
}

button:active {
    letter-spacing: 3px;
    background-color:#dfbe07;
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 10px #dfbe07;
    transform: translateY(10px);
    transition: 100ms;
}


