@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: CopperBits;
    src: url(../fonts/CooperBits.ttf);
}

@font-face {
    font-family: 'Minecraft';
    src: url(../fonts/Minecraft.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../imagens/gif-wallpaper-full-efected.gif);
    background-position: cover;
    background-repeat: no-repeat;
    
}


header{
    background-image: linear-gradient(180deg, #3d089317,#00000000);
    font-weight: bold;
    text-align: start;
    color: #fff;
    padding: 20px;
    width: 100vw;
}

header > h1{
    font-size: 1.5rem;
    font-family: CopperBits, Arial, Helvetica, sans-serif;
    animation: carlos-animation 2s ease-in;
}

h1 {
    font-size: 1rem;
    margin-bottom: -5px;
}

strong{
    background: #FFEE00;
    background: repeating-linear-gradient(to top left, yellow, #c0ca03 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'CopperBits';
    text-justify: kashida;

}


.start{
    font-size: 1.1rem;
    color: #ffffff;
    font: 600;
    margin-top: 65%;
}

.in-start{
    margin-left: 25px;
}

.scroll-down{
    margin: 25% auto ;
    text-align: center;
    width: 150px;
}

.scroll{
    margin-top: 5px;
    width: 150px;
}

.p-scroll-down{
    animation: p-scroll-animation 1.65s infinite ease-in-out ;
}

.languages{
    margin-top: 10px;
}


.carlos-h1{
    color: lightskyblue;
}

.eduardo{
    color: yellow;
}

.carlos{
    margin: 15% auto 15% auto;
    width: 75vw;
    font-size: 12px;
    padding: 20px;
    color: #000000;
    background-color: rgb(228, 219, 219);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.437);
    border-radius: 20px;
}

.sub-carlos{
    margin-top: 30px ;
    padding: 15px;
    height: vh;
    position: relative;
    background: lightskyblue;
}

.carlos > h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.carlos-p{
    margin-top: -10px;
    margin-bottom: -11px;
    font-size: 2.7rem;
}

.curve1{
    margin-left: -50px;
    margin-bottom: -50px;
}

.cor1{
    color: yellow;
}


@keyframes p-scroll-animation {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes carlos-animation {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

